NASM:=nasm
AS:=$(ARCH_PREFIX)-elf-as
CC:=$(ARCH_PREFIX)-elf-gcc
LD:=$(ARCH_PREFIX)-elf-ld
OBJDUMP:=$(ARCH_PREFIX)-elf-objdump
OBJCOPY:=$(ARCH_PREFIX)-elf-objcopy

QEMU:=qemu-system-$(ARCH_PREFIX)
QEMUFLAGS:=-s $(ARCH_QEMUFLAGS) -boot a -display sdl -vga std -m 64M

NASMFLAGS:=-O0 -f elf32 -I$(BOOT0_INC_DIR)/
ASFLAGS:= $(CONFIG_ASFLAGS) $(ARCH_ASFLAGS) -fno-asynchronous-unwind-tables -W $(INCLUDE_FLAGS) -c
CFLAGS:= $(CONFIG_CFLAGS) $(ARCH_CFLAGS) -std=c11 -O0 -ffreestanding -fno-asynchronous-unwind-tables -Werror -Wall -W $(INCLUDE_FLAGS) -c
PREPROCESSORFLAGS:= $(CONFIG_CFLAGS)

LDFLAGS:= $(ARCH_LDFLAGS) -static -nostdlib --nmagic
