TOOLS_DIR:=$(PROJECT_ROOT)/tools

ARCH_DIR:=$(PROJECT_ROOT)/arch/x86
#ARCH_INC_DIR:=$(ARCH_DIR)/include

BOOT0_DIR:=$(ARCH_DIR)/boot0
BOOT0_INC_DIR:=$(BOOT0_DIR)

STAGE0_LD_SCRIPT:=$(BOOT0_DIR)/boot0.ld
STAGE1_LD_SCRIPT:=$(ARCH_DIR)/linker.ld


LIBC_DIR:=$(PROJECT_ROOT)/libc
LIBC_INC_DIR:=$(LIBC_DIR)/include

COMMON_DIR:=$(PROJECT_ROOT)/common
COMMON_INC_DIR:=$(PROJECT_ROOT)/include

SHELL_DIR:=$(PROJECT_ROOT)/shell
SHELL_INC_DIR:=$(SHELL_DIR)

TOOLS_DIR:=$(PROJECT_ROOT)/tools

KMULTIBOOT_DIR:=$(PROJECT_ROOT)/multiboot-compliant-kernel
KMULTIBOOT_ROOT_FS_DIR:=$(KMULTIBOOT_DIR)/rootfs
KMULTIBOOT_COMPLIANT_LD_SCRIPT:=$(KMULTIBOOT_DIR)/kmultiboot.ld


# project config variables
BOOTLOADER_MINIMAL:= -DBOOTLOADER_MINIMAL
#DEBUG_FLAGS:= -DDEBUG -DPM_DRIVERS
DEBUG_FLAGS:= -DDEBUG
FLAG_PROTECTED_MODE:= -DBOOTLOADER_PROTECTED_MODE_ENABLED


INCLUDE_FLAGS:= -I$(LIBC_INC_DIR) -I$(COMMON_INC_DIR) -I$(SHELL_INC_DIR)

CONFIG_ASFLAGS:= $(DEBUG_FLAGS) $(FLAG_PROTECTED_MODE) $(BOOTLOADER_MINIMAL)
CONFIG_CFLAGS:= $(DEBUG_FLAGS) $(FLAG_PROTECTED_MODE) $(BOOTLOADER_MINIMAL)

# compiler and arch specific flags
include $(ARCH_DIR)/arch.config

# GNU tools and flags
include $(PROJECT_ROOT)/make.config
