ARCH_DIR:=$(PROJECT_ROOT)/arch/x86
#ARCH_INC_DIR:=$(ARCH_DIR)/include

BOOT0_DIR:=$(ARCH_DIR)/boot0
BOOT0_INC_DIR:=$(BOOT0_DIR)

STAGE0_LD_SCRIPT:=$(BOOT0_DIR)/boot0.ld
STAGE1_LD_SCRIPT:=$(ARCH_DIR)/linker.ld


# compiler and arch specific flags
include $(ARCH_DIR)/arch.config

LIBC_DIR:=$(PROJECT_ROOT)/libc
LIBC_INC_DIR:=$(LIBC_DIR)/include

COMMON_DIR:=$(PROJECT_ROOT)/common
COMMON_INC_DIR:=$(PROJECT_ROOT)/include

SHELL_DIR:=$(PROJECT_ROOT)/shell
SHELL_INC_DIR:=$(SHELL_DIR)


# GNU tools and flags
include $(PROJECT_ROOT)/make.config
