# arch compiler
ARCH_PREFIX:=i386

# arch specific flags
ARCH_ASFLAGS:= -march=i386 

ARCH_CFLAGS:= -march=i386
ifdef FLAG_PROTECTED_MODE
    ARCH_CFLAGS+= -m32
else
    ARCH_CFLAGS+= -m16
endif

ARCH_LDFLAGS:=-m elf_i386

ARCH_OBJDUMPFLAGS:= -mi386
ifndef FLAG_PROTECTED_MODE
    ARCH_OBJDUMPFLAGS+= -Maddr16,data16
endif

ARCH_QEMUFLAGS:=-cpu pentium3
