ifndef_any_of = $(filter undefined,$(foreach v,$(1),$(origin $(v))))
ifdef_any_of = $(filter-out undefined,$(foreach v,$(1),$(origin $(v))))

# arch compiler
ARCH_PREFIX:=i386

# arch specific flags
ARCH_ASFLAGS:= -march=i386 

ARCH_CFLAGS:= -march=i386

#$(info $$FLAG_PROTECTED_MODE = [${FLAG_PROTECTED_MODE}])
#$(info $$MULTIBOOT_KERNEL = [${MULTIBOOT_KERNEL}])

ifneq ($(call ifdef_any_of,FLAG_PROTECTED_MODE MULTIBOOT_KERNEL),)
    ARCH_CFLAGS+= -m32
else
    ARCH_CFLAGS+= -m16
endif
#$(info $$ARCH_CFLAGS = [${ARCH_CFLAGS}])

ARCH_LDFLAGS:=-m elf_i386

ARCH_OBJDUMPFLAGS:= -mi386
ifeq ($(call ifdef_any_of,FLAG_PROTECTED_MODE MULTIBOOT_KERNEL),)
    ARCH_OBJDUMPFLAGS+= -Maddr16,data16
endif
#$(info $$ARCH_OBJDUMPFLAGS = [${ARCH_OBJDUMPFLAGS}])

ARCH_QEMUFLAGS:=-cpu pentium3
