# source bootloader (boot0 excluded)
ARCH_SRC_NASM=$(wildcard $(ARCH_DIR)/*.asm)
ARCH_SRC_GAS=$(wildcard $(ARCH_DIR)/*.S)
ARCH_SRC_C=$(wildcard $(ARCH_DIR)/*.c)

ARCH_LIB_SRC_NASM=$(wildcard $(ARCH_DIR)/lib/*.asm)
ARCH_LIB_SRC_GAS=$(wildcard $(ARCH_DIR)/lib/*.S)
ARCH_LIB_SRC_C=$(wildcard $(ARCH_DIR)/lib/*.c)

ARCH_SRC=$(ARCH_SRC_NASM)
ARCH_SRC+=$(ARCH_SRC_GAS)
ARCH_SRC+=$(ARCH_SRC_C)
ARCH_SRC+=$(ARCH_LIB_SRC_NASM)
ARCH_SRC+=$(ARCH_LIB_SRC_GAS)
ARCH_SRC+=$(ARCH_LIB_SRC_C)

ARCH_SRC_WITHOUT_BOOTSTRAP_NASM=$(ARCH_LIB_SRC_NASM)
ARCH_SRC_WITHOUT_BOOTSTRAP_GAS=$(ARCH_LIB_SRC_GAS)
ARCH_SRC_WITHOUT_BOOTSTRAP_C=$(ARCH_LIB_SRC_C)

ARCH_OBJS=$(ARCH_LIB_SRC_NASM:.asm=.o)
ARCH_OBJS+=$(ARCH_SRC_NASM:.asm=.o)
ARCH_OBJS+=$(ARCH_LIB_SRC_GAS:.S=.o)
ARCH_OBJS+=$(ARCH_SRC_GAS:.S=.o)
ARCH_OBJS+=$(ARCH_LIB_SRC_C:.c=.o)
ARCH_OBJS+=$(ARCH_SRC_C:.c=.o)

ARCH_OBJS_WITHOUT_BOOTSTRAP=$(ARCH_SRC_WITHOUT_BOOTSTRAP_NASM:.asm=.o)
ARCH_OBJS_WITHOUT_BOOTSTRAP+=$(ARCH_SRC_WITHOUT_BOOTSTRAP_GAS:.S=.o)
ARCH_OBJS_WITHOUT_BOOTSTRAP+=$(ARCH_SRC_WITHOUT_BOOTSTRAP_C:.c=.o)

#$(info $$ARCH_DIR = [${ARCH_DIR}])
#$(info $$ARCH_SRC = [${ARCH_SRC}])
#$(info $$ARCH_OBJS = [${ARCH_OBJS}])
