# source bootloader (boot0 excluded)
ARCH_SRC_NASM=$(wildcard $(ARCH_DIR)/*.asm)
ARCH_SRC_GAS=$(wildcard $(ARCH_DIR)/*.S)
ARCH_SRC_C=$(wildcard $(ARCH_DIR)/*.c)

ARCH_SRC_NASM+=$(wildcard $(ARCH_DIR)/lib/*.asm)
ARCH_SRC_GAS+=$(wildcard $(ARCH_DIR)/lib/*.S)
ARCH_SRC_C+=$(wildcard $(ARCH_DIR)/lib/*.c)

ARCH_SRC=$(ARCH_SRC_NASM)
ARCH_SRC+=$(ARCH_SRC_GAS)
ARCH_SRC+=$(ARCH_SRC_C)

ARCH_OBJS=$(ARCH_SRC_ASM:.asm=.o)
ARCH_OBJS+=$(ARCH_SRC_GAS:.S=.o)
ARCH_OBJS+=$(ARCH_SRC_C:.c=.o)

#$(info $$ARCH_DIR = [${ARCH_DIR}])
#$(info $$ARCH_SRC = [${ARCH_SRC}])
#$(info $$ARCH_OBJS = [${ARCH_OBJS}])
