$(info $$KMULTIBOOT_DIR = [${KMULTIBOOT_DIR}])
KMULTIBOOT_SRC_GAS=$(wildcard $(KMULTIBOOT_DIR)/*.S)
KMULTIBOOT_SRC_C=$(wildcard $(KMULTIBOOT_DIR)/*.c)

KMULTIBOOT_SRC=$(KMULTIBOOT_SRC_GAS)
KMULTIBOOT_SRC+=$(KMULTIBOOT_SRC_C)

KMULTIBOOT_OBJS=$(KMULTIBOOT_SRC_GAS:.S=.o)
KMULTIBOOT_OBJS+=$(KMULTIBOOT_SRC_C:.c=.o)
KMULTIBOOT_OBJS_LINKER=$(KMULTIBOOT_SRC_C:.c=.o)

$(info $$KMULTIBOOT_SRC = [${KMULTIBOOT_SRC}])
$(info $$KMULTIBOOT_OBJS = [${KMULTIBOOT_OBJS}])
